
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #dbd3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  width: 100%;
  max-width: 360px;
  min-height: 640px;
  background: #fff;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}


.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #ff4f9a, #7b6cff);
  border-radius: 50%;
}
.blob-top {
  top: 0px; 
  left: -200px;
}

.blob-bottom {
  bottom: -160px;
  left: 180px;
}

.form-box {
  position: relative;
  z-index: 2;
  padding: 70px 28px 40px;
}

h1 {
  text-align: center;
  color: #4b45bc;
  margin-bottom: 8px;
  font-size: 35px;
}


.login-text {
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
  color: #000;
}

.login-text a {
  color: #6c63ff;
  font-weight: 600;
  text-decoration: underline;
}


label {
  font-size: 12px;
  color: #777;
  margin-bottom: 6px;
  display: block;
}


input {
  width: 100%;
  padding: 13px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 30px;
  margin-bottom: 25px;
}

input:focus {
  border-color: #6c63ff;
}


button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #6c63ff, #8f84ff);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(108, 99, 255, 0.4);
}

button:hover {
  opacity: 0.9;
}

