* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  width: 360px;
  min-height: 640px;
  border-radius: 25px;
  padding: 40px 25px;
  position: relative;
  overflow: hidden;
}


.blob {
  position: absolute;
  width: 280px;
  height: 200px;
  background: linear-gradient(135deg, #ff4f9a, #7b6cff);
  border-radius: 60% 40% 60% 40%;
}

.blob.top {
  top: -80px;
  left: -80px;
}

.blob.bottom {
  bottom: -90px;
  right: -90px;
}

h1 {
  text-align: center;
  color: #6c63ff;
  margin-top: 65px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 1.2;
}

.login-text {
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
}

.login-text a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 600;
}

form label {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
  display: block;
}

form input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

form input:focus {
  border-color: #6c63ff;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #7b6cff, #6c63ff);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
form {
  position: relative;
  z-index: 2;
}

button {
  position: relative;
  z-index: 3;
}
